*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #000;
  background:  #F6F6f6;
  line-height: 1.3;
  margin: 0;
}

.container {
  max-width: 800px;
  padding: 0 15px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.todoList__title {
  color: #B22222;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.business {
  background: #B22222;
}

.personal {
  background: green;
}