.list {
  &__item {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #fff;
    margin-bottom: 1rem;
    border: 0.1rem solid #cecece;
    border-radius: 1rem;
  }
  &__text-block {
    display: flex;
    margin-left: 0.7rem;
    border: none;
  }
  &__text {
    width: 28em;
    padding: 0.3em 0;
    align-self: center;
    border: none;
    &:active {
      outline: none;
      outline-offset: 0;
    }
    &:focus {
      border: 1px solid rgb(128, 20, 20);
      border-radius: 0.3em;
      outline: none;
    }
  }
  &__btn {
    font-size: 1rem;
    border: none;
    padding: 0.4rem 0.8rem;
    color: #fff;
    border-radius: 0.4rem;
    margin-left: 0.3rem;
    &_edit {
      background: #373fb0;
    }
    &_delete {
      background: #ff4400;
    }
  }
}